<?xml version="1.0"?>
<configuration>
  <application>
    <login username="bill" password="bill" database="Northumberland" />
    <web>
      <basepath value="http://localhost/HelpdeskWeb/">
      </basepath>
    </web>
    <dream>
      <exportpath value="c:\">
      </exportpath>
    </dream>
    <userinterface>
      <treenodes>
        <treenode name="Clients" singular="Client">
        </treenode>
        <treenode name="Calls" singular="Call">
        </treenode>
        <treenode name="Engineers" singular="Engineer">
        </treenode>
        <treenode name="Properties" singular="Property">
        </treenode>
        <treenode name="Units" singular="Unit">
        </treenode>
        <treenode name="Assets" singular="Asset">
        </treenode>
      </treenodes>
      <diarymodules>
        <module name="Appointments">
        </module>
      </diarymodules>
      <modules>
        <module name="Diary">
        </module>
        <module name="Contacts">
        </module>
        <module name="Asset Management">
        </module>
        <module name="Reports">
        </module>
        <module name="Administration">
        </module>
      </modules>
      <smarticons>
        <calltypeicon name="Maintenance Call" value="1" image="8">
        </calltypeicon>
        <calltypeicon name="Planned Maintenance" value="2" image="9">
        </calltypeicon>
        <calltypeicon name="Asset Service" value="4" image="6">
        </calltypeicon>
        <calltypeicon name="Appointment" value="5" image="12">
        </calltypeicon>
        <calltypeicon name="Student Inspection" value="6" image="11">
        </calltypeicon>
        <calltypeicon name="Commercial Inspection" value="7" image="7">
        </calltypeicon>
        <calltypeicon name="Residential Inspection" value="8" image="10">
        </calltypeicon>
        <incident>
          <calltypeicon name="Run External" value="@execute(c:\home.jpg {C}-{P}-{U})" image="8">
          </calltypeicon>
          <calltypeicon name="Create Call 1" value="@create(incident:1;{C}-{P}-{U})" image="9">
          </calltypeicon>
        </incident>
      </smarticons>
    </userinterface>
    <default>
      <defaultactionstatus value="2">
      </defaultactionstatus>
      <ReportPath value="C:\HexagonHelpDesk\Reports">
      </ReportPath>
    </default>
    <database>
      <connection name="Helpdesk" value="data Source=Insisys-TM;initial catalog=Helpdesk;user id=sa;password=insisys;packet size=4096" />
      <connection name="Northumberland" value="data source=INESOL-BRS-02;initial catalog=Helpdesk;user id=HelpdeskUser;password=demo;packet size=4096" />
    </database>
    <report>
    </report>
      </application>
</configuration>